.env
myenv/
__pycache__/
*.pyc
.git/
.gitignore
aqiPipeline.py
hourly_feature_update.py
refresh_training_split.py
train.csv
test.csv
model_evaluation_summary.csv
latest_td_version.txt
model_aqi_karachi_24h/
model_aqi_karachi_48h/
model_aqi_karachi_72h/
registry_cache/
requirements.txt
gitignore_template.txt
