numpy<2,>=1.26
pandas
requests
hopsworks
hsfs
hsml
great-expectations
pyarrow
fastavro>=1.9.7
confluent-kafka
setuptools
wheel
joblib
tensorflow-cpu
mlflow
python-dateutil
holidays
matplotlib
seaborn
python-dotenv
fastapi
uvicorn[standard]
pydantic
pydantic-settings
scikit-learn
xgboost
shap
nest_asyncio
plotly
statsmodels
