fastapi
uvicorn[standard]
pydantic
pydantic-settings
pandas
numpy
python-dotenv
requests
streamlit
plotly
scikit-learn
xgboost
shap
joblib
python-dateutil
pyarrow
setuptools<81

hopsworks==5.0.*
hsfs==5.0.*
hsml==5.0.*
